<footer>
    <div class="footer">
        <section>
            <div><i class="fas fa-credit-card"></i></div>
                <div class="footer-padding">
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo</p>
                    <p>en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
        </section>
        <section>
            <div><i class="fas fa-gift"></i></div>
                <div class="footer-padding">
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de</p>
                    <p>productos. Es un beneficio de Mercado Puntos.</p>
                </div>
        </section>
        <section>
            <div><i class="fas fa-user-shield"></i></div>
                <div class="footer-padding">
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas</p>
                    <p>hacer, porque estás siempre protegid@.</p>
                </div>
        </section>
    </div>    
        <section>
            <div class="Copyright">
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </div>
        </section>
</footer>