<header>
    <div class="header-fijo">
        <div class="main-header">
            <div class="div-logo">
                <img class= "logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </div>
            <div class="buscador">
                <input class="search" type="search" name="barra-busqueda" placeholder="Buscar productos">
                <div class="lupa"><i class="fa fa-search"></i></div>
            </div>
            <div class="cuotas">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>      
            <nav class="lista">
                <ul class="lista-ofertas">
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul class="lista-formularios">
                    <li>
                        <a class="href-register"  href="/user/register">Creá tu cuenta</a> <i class="far fa-id-card"></i>
                    </li>
                    <li>
                        <a class="href-login" href="/user/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a class="href-mis-compras" href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </nav>  
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>    
</header>